main {
  text-align: center;
  padding-left: 320px;
  padding-right: 72px;
  flex-grow: 1;

  h1 {
    margin-block: 0.4em;
    background-color: hsl(0, 0%, 95%);
    padding: 8px 0;
    margin: 0;
    font-weight: 500;
    font-size: 3rem;
  }

  hr {
    border-width: 2px;
    margin-block: 0;
  }
}