.prose > h2 {
  margin-bottom: 1rem;
  line-height: 1.25;
  margin-top: 0.25rem;
}

.prose > h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose p:first-child {
  margin-top: 0;
}

.prose mark strong {
  color: #000;
}

.prose {
  max-width: 768px;
}

.prose a:hover {
  color: var(--muted-foreground);
}