[data-card-article] {
  container-type: size;
  container-name: article;
  height: 284px;

  [data-card-section] {
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    height: 100%;
  }

  [data-card-figure] {
    aspect-ratio: 1;
  }

  @media screen and (width > 1279px) {
    &:nth-child(2n) > [data-card-figure] {
      order: 1;
    }

    &:nth-child(2n) > [data-card-section] {
      padding-right: 0;
      padding-left: 16px;
    }
  }

  @media screen and (width < 1280px) {
    height: 616px;
    flex-direction: column;
    [data-card-figure] {
      height: 328px;
    }
    [data-card-figure],
    [data-card-section] {
      width: 100%;
    }
    &:nth-child(2n) > figure {
      order: 0;
    }
    &:nth-child(2n) > section {
      padding-right: 16px;
    }
    [data-card-section] {
      padding-top: 0;
      padding-left: 16px;
      padding-right: 16px;
      height: 268px;
    }
  }

  @media screen and (width < 980px) and (aspect-ratio > 1) {
    flex-direction: row;
    height: 284px;
    [data-card-figure] {
      width: calc(50% - 8px);
      height: 100%;
    }

    [data-card-section] {
      padding-top: 12px;
      padding-left: 0;
      height: 100%;
    }
  }

  @media screen and (width < 720px) {
    flex-direction: row;
    height: 284px;
    [data-card-section] {
      padding-top: 12px;
      padding-left: 0;
      height: 100%;
    }
    [data-card-figure] {
      width: calc(50% - 8px);
      height: 100%;
    }
  }

  @media screen and (width < 580px) {
    flex-direction: column;
    height: calc(100vw + 252px);
    width: 100%;
    [data-card-figure] {
      height: calc(100vw - 32px);
      width: 100%;
    }
    [data-card-section] {
      padding-top: 0;
      padding-left: 16px;
      height: 268px;
    }
  }
}

[data-card-text] {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[data-card-text]:first-letter {
  color: hsl(var(--muted-foreground));
  font-size: 59px;
  line-height: 51.5px;
  vertical-align: top;
  float: left;
  margin-right: 2px;
  text-transform: uppercase;
}

@container article (aspect-ratio > 1) {
  [data-card-figure],
  [data-card-section] {
    width: calc(50% - 8px);
  }
}
