.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;

  @media screen and (width < 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width < 980px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width < 980px) and (aspect-ratio > 1) {
    grid-template-columns: 1fr;
  }
  @media screen and (width < 720px) {
    grid-template-columns: 1fr;
  }
}
