header {
  position: fixed;
  // width: 320px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);

  .top {
    text-align: right;
  }

  .button {
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;
    padding: 12px 12px;
  }

  nav {
    height: 100vh;
    margin: 64px 0;

    ul {
      padding: 2rem;
      font-size: 6rem;
    }

    li {
      padding: 12px;
      margin: 24px;
      border-radius: 8px;
      background-color: hsl(0, 0%, 95%);
      color: hsl(0, 0%, 5%);
    }

    @media (hover: hover) {
      li:hover {
        background-color: hsl(0, 0%, 90%);
        color: hsl(0, 0%, 0%);
      }
    }

    li::marker {
      background-color: hsl(0, 0%, 90%);
    }
  }
}