@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-SemiBold.woff2");
  font-weight: 500;
}

:root {
  --swiffy-slider-nav-light: black;
}

html {
  scroll-behavior: smooth;
  font-size: 4px;
  a {
    text-decoration: none;
    display: block;
    line-height: 0;
  }
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 4em;
  display: flex;
  color: hsl(0, 0%, 20%);
  align-items: flex-start;
  margin: 0;
}

.button {
  cursor: pointer;
}

header {
  position: fixed;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  width: 192px;
  background-color: #fff;

  .top {
    text-align: right;
  }

  .button {
    display: inline-block;
    margin: 0 12px;
    padding: 12px 12px;
  }

  @media (hover: hover) {
    .button:hover {
      transition: color 0.1s;
      color: hsl(0, 0%, 0%);

      .composite-icon {
        transition: fill 0.1s;
        fill: hsl(0, 0%, 0%);
      }
    }
  }

  nav {
    height: 100vh;
    margin-top: calc((100vh / 2) - 252px);
    text-align: left;

    a {
      background-color: hsl(0, 0%, 95%);
      display: block;
      border-radius: 2rem;
      border-right: 2px solid hsl(0, 0%, 95%);
      transition: all 0.1s;

      &.active {
        border-right: 2px solid hsl(240, 50%, 20%);
      }
    }

    ul {
      padding: 4rem;
      font-size: 4rem;
    }

    li {
      padding: 6rem 0;
      margin: 4rem 0 4rem 8rem;
      color: hsl(240, 50%, 20%);
    }

    @media (hover: hover) {
      a:hover {
        background-color: hsl(0, 0%, 90%);
        color: hsl(240, 50%, 10%);
      }

      li::marker:hover {
        color: hsl(240, 50%, 10%);
      }
    }

    li::marker {
      color: hsl(240, 50%, 20%);
    }
  }
}

main {
  text-align: center;
  padding-left: 178px;
  padding-top: 1rem;
  padding-right: 32px;
  flex-grow: 1;

  a {
    line-height: 1.5;
    display: inline;
  }

  #main {
    text-align: center;
  }

  #events {
    display: block;
    text-align: left;
  }

  #about {
    display: block;
    text-align: left;
  }

  #contacts {
    display: block;
    text-align: left;

    p {
      text-indent: 0;
    }

    form {
      max-width: 320px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 0;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
  }

  p {
    text-indent: 9rem;
  }

  .past-event {
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 95%);
  }

  .upcoming-event {
    padding: 1rem 2rem;
  }

  h1 {
    margin-block: 0.4em;
    background-color: hsl(0, 0%, 95%);
    padding: 8px 0;
    margin: 0;
    font-weight: 500;
    font-size: 3rem;
  }

  hr {
    border-width: 2px;
    margin-block: 0;
  }
}

footer {
  width: 48px;
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 8rem;

  .work-wrapper {
    width: 320px;
    border-radius: 2rem;
    overflow: hidden;
  }
  .work {
    width: 100%;
  }
  .description {
    line-height: 1.5;
    text-align: left;
    margin-top: 1rem;
    color: hsl(0, 0%, 20%);
  }
  .friend-wrapper {
    width: 192px;
    overflow: hidden;
  }
}

.logo {
  position: fixed;
  right: 0;
  top: 8px;
  z-index: 2;
}

.composite-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 1rem;
  fill: hsl(0, 0%, 25%);
  transition: fill 0.1s;
}

.composite-icon-text {
  line-height: 1;
  text-align: center;
}

li::marker {
  color: hsl(240, 50%, 20%);
}

.icon {
  width: 32px;
  height: 32px;
  margin: 8px;
  fill: hsl(0, 0%, 25%);
  transition: 0.4s;

  &:active {
    fill: hsl(0, 0%, 0%);
  }

  .filled {
    transition: 0.8s;
    fill: hsl(0, 0%, 25%);
  }

  .non-filled {
    transition: 0.8s;
    fill: none;
  }
}

@media (hover: hover) {
  .icon:hover {
    fill: hsl(0, 0%, 0%);
    .filled {
      fill: hsl(0, 0%, 100%);
    }

    .non-filled {
      fill: hsl(0, 0%, 20%);
    }
  }
}

.burger {
  position: absolute;
  left: 4rem;
  top: 5rem;
  border: none;
  background: transparent;
  width: 32px;
  height: 21px;
  z-index: 1;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: hsl(0, 0%, 20%);
}
.burger::before {
  top: 0;
  box-shadow: 0 9px 0 hsl(0, 0%, 20%);
}
.burger::after {
  bottom: 0;
}

.burger::before {
  transition:
    box-shadow 0.4s 0.2s,
    top 0.4s 0.2s,
    transform 0.4s;
}
.burger::after {
  transition:
    bottom 0.4s 0.2s,
    transform 0.4s;
}
.burger.active::before {
  top: 9px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 hsla(0, 0%, 20%, 0);
  transition:
    box-shadow 0.2s,
    top 0.4s,
    transform 0.4s 0.2s;
}
.burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
  transition:
    bottom 0.4s,
    transform 0.4s 0.2s;
}
