[data-blog-post] {
  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 14px;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 12px;
  }

  h4 {
    margin-top: 16px;
    margin-bottom: 10px;
  }

  h5 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  h6 {
    margin-top: 16px;
    margin-bottom: 7px;
  }

  max-width: 100%;

  & blockquote {
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 16px;
    hyphens: auto;
  }

  p:first-of-type {
    line-height: 26px;
    margin-bottom: 16px;
    margin-top: 16px;
    hyphens: auto;

    &:first-letter {
      color: hsl(var(--muted-foreground));
      font-size: 54px;
      line-height: 52px;
      vertical-align: top;
      float: left;
      margin-right: 2px;
      text-transform: uppercase;
    }
  } 
}